body {

}

.font1{
    font-family: 'Lora', serif;
}
.font2{
    font-family: 'Crimson Text', serif;
}
.font3{
    font-family: 'Poppins', sans-serif;
}
.hr-grosso {
    border-top: 2px solid #dddddd;
}

.img-logo{
    max-height: 30vh;
    margin-left: auto;
    margin-right: auto;
}
#head{
    min-height: 100vh;
    background-color: #fff;
}
#part1{
    background-color: #f7f7f7;
}

#part2{
    background-color: #fff;
}
.generic-p{
    padding-bottom: 20px;
    font-size: 18px;

}

.round-img{
    display: table;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}


/*blockquote*/
.blockquote{
    border-left:5px solid;
    padding-left: 20px;
}
.blockquote-inverse{
    border-right:5px solid;
    border-left:0;
    padding-right: 20px;
}
.blockquote-primary{border-color:#357EBD}
.blockquote-success{border-color:#4CAE4C}
.blockquote-info{border-color:#46B8DA}
.blockquote-warning{border-color:#EEA236}
.blockquote-danger{border-color:#D43F3A}
.blockquote-muted{border-color:#ccc}
/*blockquote fim*/

.nodatapicker{

}
.nodatapicker::-webkit-calendar-picker-indicator{
    display: none;
}

.nodatapicker::-webkit-input-placeholder{
    visibility: hidden !important;
}